/* ------------ CSS PROPERTIES ------------*/

/* Funzionalità di centralizzazione tramite :root */
:root {
    --cells-easy: 7;
    --cells-medium: 9;
    --cells-hard: 10;
}


header {
    display: flex;
    align-content: center;
    justify-content: space-between;

    padding: 30px;

    background-color: grey;
}

main {
    background-color: lightgray;
    display: flex;
    justify-content: center;

}

#grid {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    
    height: 500px;
    width: 500px;
    
    padding: 30px;
}

.cells-easy {
    width: calc(100% / var(--cells-easy));
    height: calc(100% / var(--cells-easy));
}
.cells-medium {
    width: calc(100% / var(--cells-medium));
    height: calc(100% / var(--cells-medium));
}
.cells-hard {
    width: calc(100% / var(--cells-hard));
    height: calc(100% / var(--cells-hard));
}

.cell {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: azure;
    border: 1px solid black;
}

.cell.clicked {
    background-color: dodgerblue;
}